<p-table [value]="tests" [loading]="isLoading" [totalRecords]="totalRecords" [lazy]="true" [paginator]="true"
         (onLazyLoad)="getTests($event)" [rows]="pageSize" [(selection)]="selectedTests">
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 3em">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th *ngFor="let col of cols">
        {{col.label}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-test>
    <tr>
      <td>
        <p-tableCheckbox [value]="test"></p-tableCheckbox>
      </td>
      <td>{{test.id}}</td>
      <td>{{test.name}}</td>
      <td *ngIf="test.active"><i class="pi pi-check green"></i>
        <button pButton label="{{labels.reset}}" (click)="resetActiveTest(test.id)"
                class="pi pi-secondary float-right"></button>
      </td>
      <td *ngIf="!test.active"><i class="pi pi-times red"></i></td>
      <td>{{test.timeToComplete ? (test.timeToComplete | date:'HH:mm' : 'GMT') : '--:--'}}</td>
      <td>{{test.startedAt ? (test.startedAt | date:'dd-mm-yyyy HH:mm:ss') : labels.notSet}}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <ng-container *ngIf="selectedTests?.length > 0">
      <ul>
        <li *ngFor="let test of selectedTests" style="text-align: left">
          {{test.id + ' - ' + test.name}}
        </li>
      </ul>
      <div class="list-buttons">
        <button pButton type="button" icon="pi pi-times" label="{{labels.delete}}" class="ui-button-danger"
                (click)="deleteSelected($event)"></button>
        <button pButton icon="pi pi-pencil" label="{{labels.edit}}" class="ui-button-warning"
                [disabled]="this.selectedTests.length > 1"
                routerLink="/test/edit/{{this.selectedTests[0].id}}"></button>
        <button pButton icon="pi pi-calendar" label="{{labels.start}}" class="ui-button-success"
                *ngIf="this.selectedTests.length == 1 && !this.selectedTests[0].active"
                (click)="startSelected()"></button>
      </div>
    </ng-container>
  </ng-template>
</p-table>
<p-dialog header="{{labels.modal.title}}" [(visible)]="showModal" [style]="{width: '450px'}">
  <form name="startTestForm" #startTestForm="ngForm" *ngIf="this.modalTest">
    <div class="ui-g-12 ui-md-12">
      <div class="ui-g-6 ui-md-6">{{labels.modal.date}}</div>
      <div class="ui-g-6 ui-md-6">
        <p-calendar [showTime]="true" [(ngModel)]="this.modalTest.startedAt" name="startedAt"
                    appendTo="body" required></p-calendar>
      </div>
    </div>
    <div class="ui-g-12 ui-md-12">
      <div class="ui-g-6 ui-md-6">{{labels.modal.time}}</div>
      <div class="ui-g-6 ui-md-6">
        <p-calendar [timeOnly]="true" [(ngModel)]="this.modalTest.timeToComplete" [defaultDate]="defaultDate"
                    name="timeToComplete" appendTo="body" required></p-calendar>
      </div>
    </div>
    <div class="ui-g-12 ui-md-12 modal-footer">
      <button pButton icon="pi pi-check" type="submit" [disabled]="!startTestForm.form.valid" label="{{labels.save}}"
              (click)="updateTest()" class="ui-button-success"></button>
      <button pButton icon="pi pi-times" label="{{labels.cancel}}" (click)="cancel()"
              class="ui-button-error"></button>
    </div>
  </form>
</p-dialog>
