<div class="test-sidebar-buttons ui-g-2 ui-md-2" [class.trainer-question-sidebar-visible]="scrollbarVisible()">
  <button pButton icon="pi pi-chevron-up" (click)="scrollToTop()" class="test-sidebar-button-top"></button>
  <button pButton icon="pi pi-chevron-down" (click)="scrollToBottom()" class="test-sidebar-button-bottom"></button>
</div>
<div class="ui-fluid ui-g-offset-2 ui-md-offset-2 ui-g-7 ui-md-7">
  <div class="trainer-title">{{labels.title}}</div>
  <form name="questionForm" (ngSubmit)="createTest()">
      <button pButton icon="pi pi-save" [label]="buttons.createTest" class="question-submit-button"></button>
    <div class="display-flex">
      <div class="ui-g-4 ui-md-4">
        <label>{{labels.name}}</label>
      </div>
      <div class="ui-g-8 ui-md-8">
        <input pInputText [(ngModel)]="test.name" placeholder="{{placeholders.name}}" name="answer"
               required>
      </div>
    </div>
    <ng-container *ngIf="test.name">
      <div class="trainer-subtitle">{{labels.subtitle}}</div>
      <div *ngFor="let item of test.items; let i = index; trackBy: trackByIndex" class="ui-grid-row" id="item{{i}}">
        <div>
          <span class="question-title ui-g-10 ui-md-10">{{labels.question.title}} {{i + 1}}</span>
          <div class="ui-g-2 ui-md-2">
            <button pButton [label]="buttons.deleteQuestion" (click)="deleteQuestion(i)"></button>
          </div>
        </div>
        <div class="ui-g-12 ui-md-12">
          <textarea pInputTextarea [(ngModel)]="item.expression" placeholder="{{placeholders.expression}}"
                    name="item{{i}}expression" rows="2" autoResize="autoResize"></textarea>
        </div>
        <div class="ui-g-8 ui-md-8">
          <input pInputText [(ngModel)]="item.correctAnswer" placeholder="{{placeholders.correctAnswer}}"
                 name="item{{i}}answer">
          <div *ngFor="let option of test.items[i].allOptions; let j = index; trackBy: trackByIndex"
               class="question-option">
            <span class="question-option-number">{{j + 1}}) </span>
            <input pInputText [(ngModel)]="test.items[i].allOptions[j]" placeholder="{{placeholders.option}}"
                   name="item{{i}}option{{j}}">
            <div class="question-option-button">
              <button pButton icon="pi pi-times" class="ui-button-danger" *ngIf="!(j + 1 == item.allOptions.length)"
                      (click)="deleteOption(j, item.allOptions)"></button>
              <button pButton icon="pi pi-plus" class="ui-button-success" *ngIf="j + 1 == item.allOptions.length"
                      (click)="addOption(item.allOptions)"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="ui-fluid ui-g-2 ui-md-2">
        <button pButton icon="pi pi-plus" [label]="buttons.addItem" (click)="addTestItem()" class="ui-fluid"></button>
      </div>
    </ng-container>
  </form>
</div>
<div class="test-sidebar ui-g-3 ui-md-3" [class.trainer-question-sidebar-visible]="scrollbarVisible()">
  <div *ngFor="let item of test.items; let k = index;" class="test-sidebar-item" (click)="scrollTo(k)">
    {{labels.question.title}}{{k + 1}}
  </div>
</div>
